/* Side bar for Ask Beroe */
#right-menu {
    display:none;
    right:0;
}
.sidebar {
    height:100%;
    width:250px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    right: -250px;
    transition: all 500ms linear;
}
.sidebar.active{
    right: 0px;
}
.sidebar .btn {
    width: 100%;
    margin: 10px;
}

.animate-right {
    position: relative;
    animation:animateright 0.5s;
}
@keyframes animateright {
    from{
        right:-300px;
        opacity:0;} 
    to{
        right:0;
        opacity:1;}
}
.animate-close {
    position: static;
    animation:animateleft 0.5s; 
    /* animation-direction: reverse; */
}
@keyframes animateleft {
    from{
        right:300px;
        opacity:1;} 
    to{
        right:0px;
        opacity:0;}
}
/* .sidebar-right-nav {
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.closed .sidebar-right-nav {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible; */
/* }s */

/* Notification icon card */
#noti-toggle{
    display: none;
    right: 60px;
    top: 76px;
    padding: 20px;
}
.noti-card {
    background-color: #fff;
    position: fixed!important;
    z-index: 3;
    overflow: auto;
    width: 300px;
    height: 300px;
    color: #5d52a8;
}
.animate-top {
    position:relative;
    animation:animatetop 0.4s;
}
@keyframes animatetop {
    from {
        top:-300px;
        opacity:0;
    } 
    to {
        top:0;
        opacity:1;
    }
}
.arrow_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.arrow_box::before {
    content: ' ';
    height: 0;
    position: fixed !important;
    width: 0;
    top: 44px ;
    right: 318px;
    border: 16px solid transparent;
    border-bottom-color: #fff;
}

/* carousel */
.owl-controls {
    text-align: center;
}
.owl-controls .owl-dot {
    display: inline-block;
}
.owl-controls .owl-dot span {
    background-color: #333;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    width: 12px;
    filter: Alpha(Opacity=500);
    opacity: 0.5;
}
.owl-controls .owl-dot.active span, .owl-controls .owl-dot:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
}
.owl-prev {
    height: 12px;
    margin: 10px;
    object-fit: cover;
}
.owl-next {
    height: 12px;
    margin: 10px;
    object-fit: cover;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #5d52a8!important;
}
.owl-carousel .owl-item img{
    width: 20%;
    display: block;
}