/* Side bar for Ask Beroe */
#right-menu {
    display:none;
    right:0;
}
.sidebar {
    height:100%;
    width:250px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}
.sidebar .btn {
    width: 100%;
    margin: 10px;
}
.animate-right {
    position:relative;
    animation:animateright 0.3s;
}
@keyframes animateright {
    from{
        right:-300px;
        opacity:0;} 
    to{
        right:0;
        opacity:1;}
}

/* Notification icon card */
#noti-toggle{
    display: none;
    right: 50px;
    top: 76px;
    padding: 20px;
}
.noti-card {
    background-color: #fff;
    position: fixed!important;
    z-index: 3;
    overflow: auto;
    width: 300px;
    height: 300px;
    color: #5d52a8;
}
.animate-top {
    position:relative;
    animation:animatetop 0.4s;
}
@keyframes animatetop {
    from {
        top:-300px;
        opacity:0;
    } 
    to {
        top:0;
        opacity:1;
    }
}
.arrow_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.arrow_box::before {
    content: ' ';
    height: 0;
    position: fixed !important;
    width: 0;
    top: 44px ;
    right: 318px;
    border: 16px solid transparent;
    border-bottom-color: #fff;
}