/* Side bar for Ask Beroe */
#right-menu {
    display:none;
    right:0;
}
.sidebar {
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}
.sidebar .btn {
    width: 100%;
    margin: 10px;
}
.animate-right {
    position:relative;
    animation:animateright 0.3s;
}
@keyframes animateright {
    from{
        right:-300px;
        opacity:0;} 
    to{
        right:0;
        opacity:1;}
}

/* Notification icon card */
#noti-toggle{
    display: none;
    right: 50px;
    top: 70px;
}
.noti-card {
    background-color: #ccc;
    position: fixed!important;
    z-index: 3;
    overflow: auto;
    width: 300px;
    height: 300px;
}
.animate-top {
    position:relative;
    animation:animatetop 0.4s;
}
@keyframes animatetop {
    from {
        top:-300px;
        opacity:0;
    } 
    to {
        top:0;
        opacity:1;
    }
}

div.arrow:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    top: -10px;
    border: 10px solid transparent;
    border-bottom-color: #5d52a8;
    z-index: 5;
  }